@import "tailwindcss";

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ecfccb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: cyan;
    border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gold;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */